In [1]:
import pandas as pd
import sqlite3
from matplotlib import pyplot as plt

In [2]:
conn = sqlite3.connect("../Resources/gdp_olympic.sqlite")

## Winter

In [3]:
# Winter Table
winter_df = pd.read_sql('SELECT year, country_code, medal FROM winter', conn)
winter_df.head()

   year country_code   medal
0  1924          FRA  Bronze
1  1924          FRA  Bronze
2  1924          FRA  Bronze
3  1924          FRA  Bronze
4  1924          SUI    Gold

## GDP

In [4]:
# Country GDPs
wdi_df = pd.read_sql('SELECT country_name, country_code, year, gdp_per_cap FROM wdi', conn)
wdi_df.head()

  country_name country_code  year gdp_per_cap
0  Afghanistan          AFG  1960       59.77
1  Afghanistan          AFG  1961       59.86
2  Afghanistan          AFG  1962       58.46
3  Afghanistan          AFG  1963       78.71
4  Afghanistan          AFG  1964        82.1

## Merge: Games & GDP

In [7]:
# Merge with country GDPs
df = pd.merge(winter_df, wdi_df, left_on=['country_code', 'year'], right_on=['country_code', 'year'])
df.head()

   year country_code   medal        country_name gdp_per_cap
0  1960          RUS  Bronze  Russian Federation
1  1960          RUS  Bronze  Russian Federation
2  1960          RUS  Bronze  Russian Federation
3  1960          RUS  Bronze  Russian Federation
4  1960          RUS  Bronze  Russian Federation

### Count of Medals

In [8]:
# Count of Medals
df2 = df.groupby(['year', 'country_name', 'medal']).count()
df2 = df2.reset_index()
df2.head()

   year country_name   medal  country_code  gdp_per_cap
0  1960      Austria  Bronze             3            3
1  1960      Austria    Gold             1            1
2  1960      Austria  Silver             2            2
3  1960       Canada  Bronze             1            1
4  1960       Canada    Gold             3            3

In [9]:
df2 = df2.iloc[:, 0:4]

In [10]:
df2 = df2.rename(columns={'country_code':'medal_count'})
df2.head()

   year country_name   medal  medal_count
0  1960      Austria  Bronze            3
1  1960      Austria    Gold            1
2  1960      Austria  Silver            2
3  1960       Canada  Bronze            1
4  1960       Canada    Gold            3

In [11]:
medals_df = pd.pivot_table(df2, values='medal_count', index=['year', 'country_name'], columns='medal', fill_value=0)
medals_df = medals_df.reset_index()
medals_df.head()

medal  year    country_name  Bronze  Gold  Silver
0      1960         Austria       3     1       2
1      1960          Canada       1     3      17
2      1960  Czech Republic       0     0       1
3      1960        Eswatini       0     2       0
4      1960         Finland       5     5       3

### GDP per year

In [13]:
# GDP per year
df3 = df.groupby(['year', 'country_code']).max()
df3 = df3.reset_index()
df3 = df3.drop(columns=['medal'])
df3.head()

   year country_code    country_name gdp_per_cap
0  1960          AUT         Austria      935.46
1  1960          CAN          Canada
2  1960          CZE  Czech Republic
3  1960          FIN         Finland     1179.35
4  1960          FRA          France     1343.83

In [14]:
final_df = pd.merge(medals_df, df3, left_on=['country_name', 'year'], right_on=['country_name', 'year'])
final_df.head()

   year    country_name  Bronze  Gold  Silver country_code gdp_per_cap
0  1960         Austria       3     1       2          AUT      935.46
1  1960          Canada       1     3      17          CAN
2  1960  Czech Republic       0     0       1          CZE
3  1960        Eswatini       0     2       0          SUI      104.21
4  1960         Finland       5     5       3          FIN     1179.35

In [15]:
# Reorder columns
final_df = final_df[['year','country_name','country_code','gdp_per_cap', 'Gold', 'Silver', 'Bronze']]
final_df.head()

   year    country_name country_code gdp_per_cap  Gold  Silver  Bronze
0  1960         Austria          AUT      935.46     1       2       3
1  1960          Canada          CAN                 3      17       1
2  1960  Czech Republic          CZE                 0       1       0
3  1960        Eswatini          SUI      104.21     2       0       0
4  1960         Finland          FIN     1179.35     5       3       5

In [16]:
# Rename columns
final_df = final_df.rename(columns={'country_name':'country',
                         'gdp_per_cap':'gdp',
                         'Gold':'gold',
                         'Silver':'silver',
                         'Bronze':'bronze'
                        })
final_df.head()

   year         country country_code      gdp  gold  silver  bronze
0  1960         Austria          AUT   935.46     1       2       3
1  1960          Canada          CAN              3      17       1
2  1960  Czech Republic          CZE              0       1       0
3  1960        Eswatini          SUI   104.21     2       0       0
4  1960         Finland          FIN  1179.35     5       3       5

## Export data to dictionary

In [17]:
gdp_medals = final_df.to_dict(orient='records')

In [18]:
gdp_medals

[{'year': 1960,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 935.46,
  'gold': 1,
  'silver': 2,
  'bronze': 3},
 {'year': 1960,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': '',
  'gold': 3,
  'silver': 17,
  'bronze': 1},
 {'year': 1960,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1960,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 104.21,
  'gold': 2,
  'silver': 0,
  'bronze': 0},
 {'year': 1960,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 1179.35,
  'gold': 5,
  'silver': 3,
  'bronze': 5},
 {'year': 1960,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 1343.83,
  'gold': 1,
  'silver': 0,
  'bronze': 2},
 {'year': 1960,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 804.49,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1960,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 1068.78,
  'gold': 0,
  'silver': 1,
  'bronze': 1},
 {'year': 1960,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 1441.76,
  'gold': 3,
  'silver': 6,
  'bronze': 0},
 {'year': 1960,
  'country': 'Poland',
  'country_code': 'POL',
  'gdp': '',
  'gold': 0,
  'silver': 1,
  'bronze': 1},
 {'year': 1960,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 7,
  'silver': 7,
  'bronze': 28},
 {'year': 1960,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 1983.11,
  'gold': 5,
  'silver': 2,
  'bronze': 2},
 {'year': 1960,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 3007.12,
  'gold': 23,
  'silver': 8,
  'bronze': 5},
 {'year': 1964,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 1269.41,
  'gold': 5,
  'silver': 9,
  'bronze': 3},
 {'year': 1964,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 2593.88,
  'gold': 4,
  'silver': 2,
  'bronze': 1},
 {'year': 1964,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 0,
  'bronze': 17},
 {'year': 1964,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 1707.5,
  'gold': 3,
  'silver': 7,
  'bronze': 5},
 {'year': 1964,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 1927.8,
  'gold': 3,
  'silver': 4,
  'bronze': 0},
 {'year': 1964,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 1222.54,
  'gold': 0,
  'silver': 2,
  'bronze': 8},
 {'year': 1964,
  'country': 'Korea, Dem. Peopleâ€™s Rep.',
  'country_code': 'PRK',
  'gdp': '',
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1964,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 1541.95,
  'gold': 1,
  'silver': 1,
  'bronze': 0},
 {'year': 1964,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 1937.88,
  'gold': 3,
  'silver': 6,
  'bronze': 6},
 {'year': 1964,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 29,
  'silver': 8,
  'bronze': 9},
 {'year': 1964,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 2758.94,
  'gold': 6,
  'silver': 21,
  'bronze': 1},
 {'year': 1964,
  'country': 'United Kingdom',
  'country_code': 'GBR',
  'gdp': 1729.4,
  'gold': 2,
  'silver': 0,
  'bronze': 0},
 {'year': 1964,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 3573.94,
  'gold': 4,
  'silver': 6,
  'bronze': 8},
 {'year': 1968,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 1677.67,
  'gold': 3,
  'silver': 8,
  'bronze': 4},
 {'year': 1968,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 3515.21,
  'gold': 1,
  'silver': 1,
  'bronze': 18},
 {'year': 1968,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 1,
  'silver': 19,
  'bronze': 1},
 {'year': 1968,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 196.3,
  'gold': 0,
  'silver': 2,
  'bronze': 7},
 {'year': 1968,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 1907.08,
  'gold': 1,
  'silver': 2,
  'bronze': 5},
 {'year': 1968,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 2537.29,
  'gold': 4,
  'silver': 3,
  'bronze': 2},
 {'year': 1968,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': '',
  'gold': 4,
  'silver': 5,
  'bronze': 7},
 {'year': 1968,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 1651.94,
  'gold': 8,
  'silver': 0,
  'bronze': 0},
 {'year': 1968,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 2185.25,
  'gold': 3,
  'silver': 3,
  'bronze': 3},
 {'year': 1968,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 2662.12,
  'gold': 11,
  'silver': 9,
  'bronze': 2},
 {'year': 1968,
  'country': 'Romania',
  'country_code': 'ROU',
  'gdp': '',
  'gold': 0,
  'silver': 0,
  'bronze': 2},
 {'year': 1968,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 26,
  'silver': 6,
  'bronze': 5},
 {'year': 1968,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 3683.31,
  'gold': 3,
  'silver': 7,
  'bronze': 6},
 {'year': 1968,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 4695.92,
  'gold': 1,
  'silver': 5,
  'bronze': 1},
 {'year': 1972,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 2924.05,
  'gold': 1,
  'silver': 2,
  'bronze': 2},
 {'year': 1972,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 5089.59,
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1972,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 1,
  'silver': 0,
  'bronze': 19},
 {'year': 1972,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 321.07,
  'gold': 7,
  'silver': 3,
  'bronze': 7},
 {'year': 1972,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 3180.01,
  'gold': 0,
  'silver': 9,
  'bronze': 1},
 {'year': 1972,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 3854.56,
  'gold': 0,
  'silver': 1,
  'bronze': 2},
 {'year': 1972,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 3795.57,
  'gold': 9,
  'silver': 5,
  'bronze': 16},
 {'year': 1972,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 2662.33,
  'gold': 3,
  'silver': 5,
  'bronze': 1},
 {'year': 1972,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 2967.04,
  'gold': 1,
  'silver': 1,
  'bronze': 1},
 {'year': 1972,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 4104.45,
  'gold': 4,
  'silver': 3,
  'bronze': 2},
 {'year': 1972,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 4413.58,
  'gold': 2,
  'silver': 8,
  'bronze': 7},
 {'year': 1972,
  'country': 'Poland',
  'country_code': 'POL',
  'gdp': '',
  'gold': 1,
  'silver': 0,
  'bronze': 0},
 {'year': 1972,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 36,
  'silver': 6,
  'bronze': 3},
 {'year': 1972,
  'country': 'Spain',
  'country_code': 'ESP',
  'gdp': 1704.17,
  'gold': 1,
  'silver': 0,
  'bronze': 0},
 {'year': 1972,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 5948.8,
  'gold': 1,
  'silver': 1,
  'bronze': 2},
 {'year': 1972,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 6094.02,
  'gold': 3,
  'silver': 19,
  'bronze': 3},
 {'year': 1976,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 5678.39,
  'gold': 2,
  'silver': 2,
  'bronze': 3},
 {'year': 1976,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 8809.26,
  'gold': 1,
  'silver': 1,
  'bronze': 1},
 {'year': 1976,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 18,
  'bronze': 0},
 {'year': 1976,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 528.59,
  'gold': 1,
  'silver': 6,
  'bronze': 2},
 {'year': 1976,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 6744.7,
  'gold': 5,
  'silver': 10,
  'bronze': 1},
 {'year': 1976,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 6866.82,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1976,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 6609.75,
  'gold': 14,
  'silver': 13,
  'bronze': 37},
 {'year': 1976,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 4019.8,
  'gold': 1,
  'silver': 2,
  'bronze': 1},
 {'year': 1976,
  'country': 'Liechtenstein',
  'country_code': 'LIE',
  'gdp': 11386.65,
  'gold': 0,
  'silver': 0,
  'bronze': 2},
 {'year': 1976,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 7925.69,
  'gold': 1,
  'silver': 2,
  'bronze': 3},
 {'year': 1976,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 8927.2,
  'gold': 3,
  'silver': 6,
  'bronze': 1},
 {'year': 1976,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 38,
  'silver': 7,
  'bronze': 11},
 {'year': 1976,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 10727.02,
  'gold': 0,
  'silver': 0,
  'bronze': 2},
 {'year': 1976,
  'country': 'United Kingdom',
  'country_code': 'GBR',
  'gdp': 4138.17,
  'gold': 1,
  'silver': 0,
  'bronze': 0},
 {'year': 1976,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 8592.25,
  'gold': 3,
  'silver': 3,
  'bronze': 5},
 {'year': 1980,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 10869.55,
  'gold': 3,
  'silver': 2,
  'bronze': 3},
 {'year': 1980,
  'country': 'Bulgaria',
  'country_code': 'BUL',
  'gdp': 2238.8,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1980,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 11170.56,
  'gold': 0,
  'silver': 1,
  'bronze': 1},
 {'year': 1980,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1980,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 921.99,
  'gold': 2,
  'silver': 4,
  'bronze': 3},
 {'year': 1980,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 11232.27,
  'gold': 1,
  'silver': 5,
  'bronze': 6},
 {'year': 1980,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 12713.36,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1980,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 12092.38,
  'gold': 16,
  'silver': 13,
  'bronze': 18},
 {'year': 1980,
  'country': 'Hungary',
  'country_code': 'HUN',
  'gdp': '',
  'gold': 0,
  'silver': 2,
  'bronze': 0},
 {'year': 1980,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 8429.02,
  'gold': 0,
  'silver': 3,
  'bronze': 0},
 {'year': 1980,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 9465.38,
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1980,
  'country': 'Liechtenstein',
  'country_code': 'LIE',
  'gdp': 20661.61,
  'gold': 2,
  'silver': 2,
  'bronze': 0},
 {'year': 1980,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 13791.86,
  'gold': 1,
  'silver': 2,
  'bronze': 1},
 {'year': 1980,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 15772.24,
  'gold': 1,
  'silver': 6,
  'bronze': 9},
 {'year': 1980,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 18,
  'silver': 29,
  'bronze': 7},
 {'year': 1980,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 16875.62,
  'gold': 3,
  'silver': 0,
  'bronze': 19},
 {'year': 1980,
  'country': 'United Kingdom',
  'country_code': 'GBR',
  'gdp': 10032.06,
  'gold': 1,
  'silver': 0,
  'bronze': 0},
 {'year': 1980,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 12574.79,
  'gold': 24,
  'silver': 4,
  'bronze': 2},
 {'year': 1984,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 8991.07,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1984,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 13877.92,
  'gold': 2,
  'silver': 1,
  'bronze': 1},
 {'year': 1984,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 24,
  'bronze': 4},
 {'year': 1984,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 732.3,
  'gold': 2,
  'silver': 2,
  'bronze': 4},
 {'year': 1984,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 10841.57,
  'gold': 4,
  'silver': 3,
  'bronze': 12},
 {'year': 1984,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 9419.7,
  'gold': 0,
  'silver': 1,
  'bronze': 2},
 {'year': 1984,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 9277.93,
  'gold': 16,
  'silver': 14,
  'bronze': 11},
 {'year': 1984,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 7714.19,
  'gold': 2,
  'silver': 0,
  'bronze': 0},
 {'year': 1984,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 10984.87,
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1984,
  'country': 'Liechtenstein',
  'country_code': 'LIE',
  'gdp': 18590.67,
  'gold': 0,
  'silver': 0,
  'bronze': 2},
 {'year': 1984,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 14989.49,
  'gold': 6,
  'silver': 5,
  'bronze': 4},
 {'year': 1984,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': '',
  'gold': 29,
  'silver': 15,
  'bronze': 12},
 {'year': 1984,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 12928.78,
  'gold': 7,
  'silver': 2,
  'bronze': 21},
 {'year': 1984,
  'country': 'United Kingdom',
  'country_code': 'GBR',
  'gdp': 8179.19,
  'gold': 2,
  'silver': 0,
  'bronze': 0},
 {'year': 1984,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 17121.23,
  'gold': 4,
  'silver': 5,
  'bronze': 0},
 {'year': 1988,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 17578.62,
  'gold': 3,
  'silver': 5,
  'bronze': 4},
 {'year': 1988,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 18936.96,
  'gold': 0,
  'silver': 2,
  'bronze': 4},
 {'year': 1988,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': '',
  'gold': 0,
  'silver': 1,
  'bronze': 5},
 {'year': 1988,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 894.35,
  'gold': 8,
  'silver': 7,
  'bronze': 5},
 {'year': 1988,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 22056.7,
  'gold': 7,
  'silver': 22,
  'bronze': 5},
 {'year': 1988,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 17680.0,
  'gold': 1,
  'silver': 0,
  'bronze': 1},
 {'year': 1988,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 17863.44,
  'gold': 14,
  'silver': 22,
  'bronze': 10},
 {'year': 1988,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 15692.73,
  'gold': 2,
  'silver': 1,
  'bronze': 5},
 {'year': 1988,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 25051.85,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1988,
  'country': 'Liechtenstein',
  'country_code': 'LIE',
  'gdp': 41301.07,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1988,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 17744.5,
  'gold': 3,
  'silver': 2,
  'bronze': 2},
 {'year': 1988,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 24207.28,
  'gold': 0,
  'silver': 6,
  'bronze': 5},
 {'year': 1988,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': 3777.24,
  'gold': 41,
  'silver': 14,
  'bronze': 12},
 {'year': 1988,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 24215.82,
  'gold': 7,
  'silver': 0,
  'bronze': 23},
 {'year': 1988,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 21417.01,
  'gold': 2,
  'silver': 1,
  'bronze': 4},
 {'year': 1992,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 24880.16,
  'gold': 9,
  'silver': 10,
  'bronze': 10},
 {'year': 1992,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 20879.85,
  'gold': 5,
  'silver': 29,
  'bronze': 3},
 {'year': 1992,
  'country': 'China',
  'country_code': 'CHN',
  'gdp': 366.46,
  'gold': 0,
  'silver': 3,
  'bronze': 0},
 {'year': 1992,
  'country': 'Czech Republic',
  'country_code': 'CZE',
  'gdp': 3352.03,
  'gold': 0,
  'silver': 0,
  'bronze': 28},
 {'year': 1992,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 1481.86,
  'gold': 2,
  'silver': 0,
  'bronze': 5},
 {'year': 1992,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 22337.49,
  'gold': 6,
  'silver': 1,
  'bronze': 6},
 {'year': 1992,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 23813.71,
  'gold': 5,
  'silver': 6,
  'bronze': 1},
 {'year': 1992,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 26333.54,
  'gold': 14,
  'silver': 17,
  'bronze': 7},
 {'year': 1992,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 23166.8,
  'gold': 4,
  'silver': 9,
  'bronze': 8},
 {'year': 1992,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 31464.55,
  'gold': 3,
  'silver': 2,
  'bronze': 7},
 {'year': 1992,
  'country': 'Korea, Dem. Peopleâ€™s Rep.',
  'country_code': 'PRK',
  'gdp': '',
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1992,
  'country': 'Korea, Rep.',
  'country_code': 'KOR',
  'gdp': 8001.54,
  'gold': 5,
  'silver': 1,
  'bronze': 1},
 {'year': 1992,
  'country': 'Luxembourg',
  'country_code': 'LUX',
  'gdp': 40965.74,
  'gold': 0,
  'silver': 2,
  'bronze': 0},
 {'year': 1992,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 23904.04,
  'gold': 1,
  'silver': 1,
  'bronze': 2},
 {'year': 1992,
  'country': 'New Zealand',
  'country_code': 'NZL',
  'gdp': 11793.14,
  'gold': 0,
  'silver': 1,
  'bronze': 0},
 {'year': 1992,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 30523.99,
  'gold': 12,
  'silver': 11,
  'bronze': 5},
 {'year': 1992,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': 3095.66,
  'gold': 36,
  'silver': 10,
  'bronze': 14},
 {'year': 1992,
  'country': 'Spain',
  'country_code': 'ESP',
  'gdp': 16068.43,
  'gold': 0,
  'silver': 0,
  'bronze': 1},
 {'year': 1992,
  'country': 'Sweden',
  'country_code': 'SWE',
  'gdp': 32374.68,
  'gold': 1,
  'silver': 0,
  'bronze': 6},
 {'year': 1992,
  'country': 'United States',
  'country_code': 'USA',
  'gdp': 25418.99,
  'gold': 5,
  'silver': 7,
  'bronze': 2},
 {'year': 1994,
  'country': 'Australia',
  'country_code': 'AUS',
  'gdp': 18045.87,
  'gold': 0,
  'silver': 0,
  'bronze': 4},
 {'year': 1994,
  'country': 'Austria',
  'country_code': 'AUT',
  'gdp': 25646.7,
  'gold': 2,
  'silver': 3,
  'bronze': 7},
 {'year': 1994,
  'country': 'Belarus',
  'country_code': 'BLR',
  'gdp': 1460.06,
  'gold': 0,
  'silver': 2,
  'bronze': 0},
 {'year': 1994,
  'country': 'Canada',
  'country_code': 'CAN',
  'gdp': 19935.38,
  'gold': 3,
  'silver': 32,
  'bronze': 5},
 {'year': 1994,
  'country': 'China',
  'country_code': 'CHN',
  'gdp': 473.49,
  'gold': 0,
  'silver': 1,
  'bronze': 2},
 {'year': 1994,
  'country': 'Eswatini',
  'country_code': 'SUI',
  'gdp': 1563.75,
  'gold': 4,
  'silver': 8,
  'bronze': 4},
 {'year': 1994,
  'country': 'Finland',
  'country_code': 'FIN',
  'gdp': 20305.58,
  'gold': 0,
  'silver': 1,
  'bronze': 30},
 {'year': 1994,
  'country': 'France',
  'country_code': 'FRA',
  'gdp': 23496.52,
  'gold': 0,
  'silver': 1,
  'bronze': 10},
 {'year': 1994,
  'country': 'Germany',
  'country_code': 'GER',
  'gdp': 27087.56,
  'gold': 18,
  'silver': 10,
  'bronze': 12},
 {'year': 1994,
  'country': 'Italy',
  'country_code': 'ITA',
  'gdp': 19273.84,
  'gold': 15,
  'silver': 6,
  'bronze': 12},
 {'year': 1994,
  'country': 'Japan',
  'country_code': 'JPN',
  'gdp': 39268.57,
  'gold': 3,
  'silver': 5,
  'bronze': 2},
 {'year': 1994,
  'country': 'Kazakhstan',
  'country_code': 'KAZ',
  'gdp': 1320.32,
  'gold': 1,
  'silver': 2,
  'bronze': 0},
 {'year': 1994,
  'country': 'Korea, Rep.',
  'country_code': 'KOR',
  'gdp': 10205.81,
  'gold': 8,
  'silver': 1,
  'bronze': 1},
 {'year': 1994,
  'country': 'Netherlands',
  'country_code': 'NED',
  'gdp': 24646.31,
  'gold': 0,
  'silver': 1,
  'bronze': 3},
 {'year': 1994,
  'country': 'Norway',
  'country_code': 'NOR',
  'gdp': 29315.84,
  'gold': 10,
  'silver': 19,
  'bronze': 5},
 {'year': 1994,
  'country': 'Russian Federation',
  'country_code': 'RUS',
  'gdp': 2663.39,
  'gold': 19,
  'silver': 13,
  'bronze': 4},
 {'year': 1994,